/* Debugging */
/***
g {
  stroke: yellow;
  stroke-width: 1;
}
***/

/* Text */
text {
  fill: #666;
  font-family: "Open Sans Condensed", Open Sans;
  font-size: 8pt;
  font-weight: normal;
  text-align: center;
}

text.heading {
  font-size: 150%;
}

text.rebased {
  fill: black;
}

.flowchart.instruction {
  text-align: left;
  text-anchor: left;
}

.flowchart.instruction.detailed {
  font-family: Open Sans;
  fill: #999;
}

.flowchart.label {
  text-anchor: middle;
  font-family: Open Sans;
}

.flowchart.label-leading {
  text-align: right;
  text-anchor: right;
}

/* Commits */
.commit {
  r: 5;
}

.single-diagram .commit-master {
  cx: 20;
}

.single-diagram .commit-feature {
  cx: 40;
}

.master {
  fill: #B30A84;
}

.commit-master {
  fill: #B30A84;
  opacity: .95;
  stroke: black;
  stroke-width: 1;
}

.commit-feature {
  fill: #FF5E99;
}
 
.commit.rebased, .commit.merged, .commit.new-upstream { 
  stroke: black;
  stroke-width: 1;
}

.rebased, .merged {
  fill: #FF5E99;
}

.commit.new-upstream {
  fill: white;
}

.fixup {
  fill: #24C9FF;
}

.merged-ff {
  opacity: .4;
}

/* Groups */
.new-upstream {
  fill: #24C9FF;
}

.master.rebased {
  fill: none;
  stroke: #24C9FF;
  stroke-width: 1;
}

/* Arrows */
path.rebase {
  fill:none;
  fill-opacity:1;
  stroke:black;
  stroke-dasharray:6,6;
  stroke-opacity:1;
  marker-end:url(#merge-ff-rebase);
}

path.flowchart {
  fill:none;
  fill-opacity:1;
  stroke:black;
  stroke-opacity:1;
  marker-end:url(#merge-ff-rebase);
}

marker#merge-ff-rebase {
  fill: black;
}
